/* FONTS */
@font-face {
    font-family: kalam-regular;
    src: url(../fonts/kalam.regular.ttf);
}
@font-face {
    font-family: kalam-light;
    src: url(../fonts/kalam.light.ttf);
}

@font-face {
    font-family: kalam-bold;
    src: url(../fonts/kalam.bold.ttf);
}







/*----------- DEFAULT ---------*/
html, body{
	padding: 0;
	margin: 0 auto;
    background: #f5f8fa;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

a, a:link, a:visited, a:active{
	color: #1e1e1e;
	text-decoration: none;}




/* LOADER */

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #b7fca4;
	z-index: 99999;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.infinity {
	position: fixed;
	margin-top: 250px;
	padding-left: 100%;
	width: 120px;
	height: 60px;
}

.infinity div,
.infinity span {
  position: absolute;
}
.infinity div {
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: rotate 6.9s linear infinite;
          animation: rotate 6.9s linear infinite;
}
.infinity div span {
  left: -8px;
  top: 50%;
  margin: -8px 0 0 0;
  width: 16px;
  height: 16px;
  display: block;
  background: #509e41;
  box-shadow: 2px 2px 8px rgba(140, 111, 240, 0.09);
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: move 6.9s linear infinite;
          animation: move 6.9s linear infinite;
}
.infinity div span:before, .infinity div span:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}
.infinity div span:before {
  -webkit-animation: drop1 .8s linear infinite;
          animation: drop1 .8s linear infinite;
}
.infinity div span:after {
  -webkit-animation: drop2 .8s linear infinite .4s;
          animation: drop2 .8s linear infinite .4s;
}
.infinity div:nth-child(2) {
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
.infinity div:nth-child(2) span {
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
.infinity div:nth-child(3) {
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}
.infinity div:nth-child(3) span {
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}


@-webkit-keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #05ab1b;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #05ab1b;
  }
  100% {
    offset-distance: 100%;
  }
}
@-webkit-keyframes rotate {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%,
    100% {
    margin-left: -60px;
  }
}
@keyframes rotate {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%,
    100% {
    margin-left: -60px;
  }
}
@-webkit-keyframes move {
  0%,50% {
    left: -8px;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #05ab1b;
  }
  50.0001%,
    100% {
    left: auto;
    right: -8px;
  }
}
@keyframes move {
  0%,50% {
    left: -8px;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #05ab1b;
  }
  50.0001%,
    100% {
    left: auto;
    right: -8px;
  }
}
@-webkit-keyframes drop1 {
  100% {
    -webkit-transform: translate(32px, 8px) scale(0);
            transform: translate(32px, 8px) scale(0);
  }
}
@keyframes drop1 {
  100% {
    -webkit-transform: translate(32px, 8px) scale(0);
            transform: translate(32px, 8px) scale(0);
  }
}
@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: translate(0, 0) scale(0.9);
            transform: translate(0, 0) scale(0.9);
  }
  100% {
    -webkit-transform: translate(32px, -8px) scale(0);
            transform: translate(32px, -8px) scale(0);
  }
}
@keyframes drop2 {
  0% {
    -webkit-transform: translate(0, 0) scale(0.9);
            transform: translate(0, 0) scale(0.9);
  }
  100% {
    -webkit-transform: translate(32px, -8px) scale(0);
            transform: translate(32px, -8px) scale(0);
  }
}

.divider{
	margin-top: -3px!important;
	max-width: 10rem;
	margin-left: auto;
	margin-right: auto;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	height: 0.125rem;
	border-color: #1e7007;}

.text-white-smoke{
	color:#F6F6F6!important;}


.bg-95{background-color: #099e2c}
.bg-90{background-color: #18ad3b}
.bg-80{background-color: #0bb9bc}
.bg-85{background-color: #10b9bc}
.bg-78{background-color: #0b61bc}
.bg-75{background-color: #2b80db}
.bg-70{background-color: #5fabfc}
.bg-65{background-color: #d8dd6c}
.font-kalam-regular{font-family: 'kalam-regular'}
.font-kalam-light{font-family: 'kalam-light'}
.font-kalam-bold{font-family: 'kalam-bold'}

/*--------OVERRIDE-------*/

.container{

}

.progress{
	height: 25px;}





/*----------- HEADER ---------*/

.header-container{
	background: 50% 50% no-repeat;
	background-image: url(../img/cover.png);
	background-color: #1e7007;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height:650px;
	padding-bottom: 50px;}

.header-content img{
	border: 1px solid green;
	margin-top: 80px;
	height: 140px;
	width: 130px;}


.introduction{
	margin-top: 10px;
	color:#000000!important;
	font-family: kalam-bold;
	font-size: 50px;
	margin-bottom: 20px;
	height: 60px;}

.headline{
	margin-top: -15px!important;
	margin-bottom: 10px;
	font-size: 30px;
	color:#F6F6F6;
	font-family: kalam-light;}

.about-btn:hover{
	background-color: darkgray;}


.social-icons a {
	margin-top: 0px;
	margin-bottom: 20px;
	display: inline-block;
	background-color: none;
	color: #fff !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2.5rem;
	height: 2.5rem;
	width: 2.5rem;
	margin-right: 3px;}

.social-icons a:last-child {
  margin-right: 0;}

#github:hover{
	background-color: #24292e;}

#hackerrank:hover{
	background-color: #1ba94c;}

#stackoverflow:hover{
	background-color: #CF7721;}	

#youtube:hover{
	background-color: #BD5D38;}

.scroll-to-about-container{
	margin-top: 120px;
}
.scroll-down-btn{
	font-size: 14px;
	padding: 10px 12px 10px 12px;
	border-radius: 100%;
	border: 3px solid #1e1e1e;}

.scroll-down-btn:hover{
	border: 4px solid #1e1e1e;}

/* ----------------ABOUT---------------- */
.about{
	min-height: 300px;
	padding-top: 60px;}
.about-para{
	font-family: kalam-regular;
	color: #323232;
	font-size: 18px}



/*----------- ARTICLE ---------*/
.article{
	padding-top: 60px;}

.article-container{}

.article-title{
	text-transform: uppercase;
	padding-top: 20px;
	font-size: 30px;
	font-family: kalam-bold;
	color: #000000;}

.article-content{
	font-size: 16px;
	color: #5a5a5a;
	margin-top: 50px;}





/*----------- PROJECT ---------*/

.project{
	margin-top: 60px;
	padding-top: 20px!important;
	background: url('../img/project.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: auto;}

.project-img{
	width: 100%;
	border-radius: 5px;
	height: 250px}

.project-img:hover{
	transition: all .2s;
	transform: scale(0.99)}

.project-modal-title{
	color:#000000;
	text-transform: uppercase;
	font-family:kalam-bold;
	font-size: 30px;}

.project-modal-img{
	width: 100%;
	max-height: 400px;
	margin-bottom: 20px;}


a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	width:50px;
	height:50px;
	margin-left: 110px;
	border-radius: 50%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
#lightbox-modal .modal-dialog{
	width:90%;
	max-width:900px;
	margin:30px auto 0;
}
#lightbox-modal .modal-dialog img{
	margin: 0 auto;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox{
	display: none;
	font-size: 40px;
	position: absolute;
	top:8px;
	right:20px;
	z-index: 20;
}
.next-lightbox, .prev-lightbox{
	display: inline-block;
	width:0;
	height:0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	transition: all .2s ease-in-out;
	position: absolute;
	top:50%;
}
.next-lightbox{
	right:25px;
	border-left: 20px solid rgba(255,255,255,.4);
}
.prev-lightbox{
	left:25px;
	border-right:20px solid rgba(255,255,255,.4);
}
.prev-lightbox:hover, .next-lightbox:hover{
	border-right-color:rgba(255,255,255,.9);
	border-left-color:rgba(255,255,255,.9);
}



/*---------- SKILLS ---------*/
.skill{
	margin-top: 20px;
	padding-top: 20px!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: auto;}

.skill-container{
	padding-top: 20px;}

.skill-item{
	margin-bottom: 20px}

.skill-item h3{
	font-family: kalam-regular;
	color: #3c3c3c;
	font-weight: 600;
	font-size: 18px;}

.progress-bar{
	font-weight: 600;
	font-size: 14px;}

.skill-img-conatiner a img{
	margin-bottom: 20px;
	height: 60px;
	width: 60px;}

.skill-img-conatiner a{
	margin-right: 10px;}

/*-----------SCROLL TO TOP------------*/
.scroll-up-btn-container{
	margin-top: -60px!important;}

.scroll-up-btn{
	font-size: 16px;
	padding: 14px 16px 14px 16px;
	border-radius: 100%;
	background-color: #205e30;
	border: 4px solid #000000;}

.scroll-up-btn:hover{
	border: 3px solid #000000;}



/*------CONTACT--------*/
.contact{
	padding-top: 50px;
	background: #021e09;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	opacity: 0.90;
	padding-bottom: 60px;}

.contact-container{
	background: transparent;
}
.contact-content{
	font-size: 16px;
	margin-top: 50px;}



.contact-title{
	text-transform: uppercase;
	padding-top: 20px;
	font-size: 30px;
	font-family: kalam-bold;
	color: #e8e3e3;
	font-weight: 1000}

.contact-item{
	justify-content: center;
	align-content: center;
	padding-right: 10px}

.contact-text{
	font-size: 20px;
	font-family: kalam-bold;
	color: #F6F6F6}

.contact-text a{
	font-size: 20px;
	color: #F6F6F6}

.location, .phone, .email{
	text-decoration: none;
	font-size: 50px;
	padding-bottom: 20px;}


.email i{
	color: #d80a15;}

.phone i{
	color: #d80a15}

.location i{
	color: #d80a15;}

.footer-social-icons{}

.footer-social-icons a{
	margin-bottom: 15px;
	display: inline-block;
	background-color: none;
	color: #ffffff !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.2rem;
	line-height: 2.3rem;
	height: 2.3rem;
	width: 2.3rem;
	margin-right: 7px;}

#linkedin{
	background-color: #055884;}

#twitter{
	background-color: #1c94e0;}

#facebook{
	background-color: #29487d;}

/*--------FOOTER----------

.footer{
	background-color: #1e1e1e;}

.footer-container{
	padding-top: 15px;}
.footer-social-icons{

}
.footer-social-icons a{
	margin-bottom: 15px;
	display: inline-block;
	background-color: none;
	color: #F6F6F6 !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.2rem;
	line-height: 2.0rem;
	height: 2.0rem;
	width: 2.0rem;
	margin-right: 5px;}
*/




/*----------RESPONSIVE CLASSES-----------*/

@media only screen and 
(min-device-width : 320px) and 
(max-device-width : 480px){
	.introduction{font-size: 40px}
	.headline{font-size: 22px;}
	.social-icons a{
		line-height: 2.4rem;
		height: 2.4rem;
		width: 2.4rem;}
	.footer-social-icons{
		margin-top: 30px;
		margin-bottom: 30px}

}

@media only screen and 
(min-device-width : 480px) and 
(max-device-width : 575px){
	.introduction{font-size: 45px}
	.headline{font-size: 26px}
	.header-content p{font-size: 13px}
	.social-icons a{
		line-height: 2.4rem;
		height: 2.4rem;
		width: 2.4rem;}
	.footer-social-icons{
		margin-top: 30px;
		margin-bottom: 30px}
}
 
@media only screen and 
(min-device-width : 576px) and
(max-device-width : 767px) {
	.headline{font-size: 28px}
}

@media only screen and 
(min-device-width : 768px) and
(max-device-width : 991px) {

}
